@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 1rem 0;
  }
  
  .table th {
    background-color: #eee;
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .table td {
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .button {
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0060cc;
  }
  