@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 60%;
    font-family: 'Montserrat', sans-serif;
  }
  
  .tableTitle {
    font-size: 2em;
    color: #006400;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .th {
    background-color: #006400;
    color: #f8f8f8;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: calc(100% / 5);
  }
  
  .td {
    border: 1px solid #006400;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    color: #006400;
    width: calc(100% / 5);
  }
  
  .tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .tr:nth-child(odd) {
    background-color: #d3d3d3;
  }

  .tableElement {
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    width: calc(100% / 5);
  }

  .tableInput {
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    width: calc(100% /1.2);
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
  }

  .button {
      background-color: #006400;
      color: white;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-top: 5px;
      cursor: pointer;
      font-size: 0.8em;
      width: calc(100% / 3)
  }
  .button:hover{
    background-color: #0a8e0a;
  }

  .predictionError{
    text-align: center;
    color: #ab0000;
  }