*__pycache__
scratch.py
.vscode
*ipynb*
deploy/pab_master.yml
deploy/fleetcommand/helm_charts/points-are-bad/values.yaml
docker_deploy_stack.yml

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local
frontend/.next/trace
frontend/.next/
frontend/out/
frontend/build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# typescript
*.tsbuildinfo
*next-env.d.ts

# local env files
.env*.local

workbench
notes.txt
populate_db.py

**/alembic/versions