.header{
    display: flex;
    text-align: center;
}

.headerUserStat{
    flex: 1;
    padding: 1em;
}

.headerUserStatKey{
    color: blue
}

.headerUserStatValue{
    color: red;
}

.headerUserName {

}

.headerAvatar {

}

