.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
  }
  
  .title a {
    color: #006400;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .username {
    background-color: #006400;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #006400;
    z-index: 1;
  }
  
  .dropdownButton {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    color: #006400;
  }
  
  .dropdownButton:hover {
    background-color: #006400;
    color: white;
  }
  

   /* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
  }
  
  .username {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .dropdown {
    position: absolute;
    top: 3rem;
    right: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    z-index: 1;
  }
  
  .dropdown button {
    display: block;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .dropdown button:hover {
    background-color: #ccc;
  } */
  